/* Reset and general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.debug {
  background-color: rgba(255, 8, 43, 0.5);
  border: 1px solid black;
}

body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
}

.debug {
  background-color: rgba(255, 0, 0, 0.25);
  border: 1px solid black;
}

ul{
  display: flex;
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

p {
  line-height: 24px;
}

i {
  margin-right: 5px;
}

hr {
  width: 20%;
  margin-bottom: 35px;
}

.fa-check {
  color: blue;
}

.btn {
  color: white;
  background-color: #0361ff;
  padding: 5px 12px;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

/* Header */

header {
  height: 80px;
  color: black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  background-color: white;
  border-bottom: 1px solid #d1d9e1;
}

.header-navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left ul li, .navbar-left .logo {
  padding-right: 20px;
}

.navbar-right ul li {
  padding-left: 20px;
}


/* Jumbo */

.jumbo {
  height: 600px;
  background-color: #b4d0e7;
  margin-top: 80px;
}

.jumbo .container {
  padding: 70px 0;
  max-width: 65%;
}

.jumbo .container h2 {
  font-size: 4.5rem;
  margin-bottom: 20px;
}

.container-jumbo {
  display: flex;
}

.jumbo-info {
  flex-basis: 30%;
}

.jumbo-info p:first-child {
  margin-bottom: 30px;
}

.jumbo-info p:nth-child(3) {
  margin-top: 30px;
}

.fa-solid.fa-arrow-down {
  font-size: 3rem;
  margin-top: 40px;
  color: black;
}


.jumbo-img {
  flex-basis: 70%;
}

/* Style per template card */

.cards-plans {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  margin-bottom: 100px;
}

.business-plans {
  margin-top: 100px;
  height: 900px;
}

.business-plans .container {
  max-width: 60%;
}

.business-plans .container h3 {
  font-size: 2.3rem;
  margin-bottom: 35px;
}

.business-plans .container span:first-of-type{
  margin-right: 60px;
}

.singolo {
  width: 30%;
  border: 1px solid #d0d0d3;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.singolo ul {
  flex-direction: column;
}

.singolo ul li {
  margin-bottom: 15px;
}

.plan-user {
  text-align: center;
  border-bottom: 1px solid #d0d0d3;
  padding: 10px 0;
}

.singolo-description {
  padding: 0 40px;
  padding-top: 25px;
}

.singolo-description h4 {
  margin-bottom: 25px;
}

.plan-title {
  margin-bottom: 18px;
}

.plan-price {
  margin-bottom: 10px;
}

.payment-type {
  color: #6b6866;
  margin-bottom: 10px;
}

.features li:last-child{
  margin-bottom: 50px;
}

.btn-prova {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 25px;
}

.cta-link {
  color: blue;
}

.cta{
  margin-bottom: 35px;
}


/* Card Bottom */

.singolo.bottom {
  width: 100%;
  margin-bottom: 200px;
}

.card-bottom-flex-container{
  display: flex;
  justify-content: space-between;
}

.btn-prova-bottom {
  width: 24%;
}

.cta-bottom {
  margin-top: 40px;
}

/* Photo-Info */

.photo-info.container {
  max-width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: 500px;
  margin-bottom: 200px;
}

.photo {
  flex-basis: 50%;
}

.info {
  flex-basis: 35%;
  padding: 0 30px;
}

.info h2 {
  margin-bottom: 25px;
}

.info p {
  margin-bottom: 40px;
}

.btn-lighter {
  background: white;
  color: black;
  border: 1px solid black;
  padding: 12px 25px;
}

.btn-lighter:hover {
  color: #6b6866;
  cursor: pointer;
}

/* Operations Container - Card Templates */

.card-container {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.operations h2 {
  margin-bottom: 40px;
  font-size: 2.5rem;
  width: 60%;
}

.card-template {
  width: 30%;
  margin-bottom: 40px;
}

.card-template h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.card-image {
  margin-bottom: 10px;
}


/* Sponsor Cards */

.sponsor {
  margin-top: 80px;
  display: flex;
  height: calc(100vw / 3);
}

.sponsor-left, .sponsor-main, .sponsor-right {
  width: calc(100% / 3);
}

.sponsor-left, .sponsor-right {
  display: flex;
  flex-wrap: wrap;
}

.designit, .asu, .uf, .topps, .wbr, .hearst, .lonely-planet, .clear-channel {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.designit img, .asu img, .uf img, .topps img, .wbr img, .hearst img, .lonely-planet img, .clear-channel img{
  filter: invert(1);
}

.designit {
  background-color: #a2d39b;
}

.asu {
  background-color: #61082b;

}

.uf {
  background-color: #0293ce;
}

.topps {
  background-color: #ff1c1c;
}

.wbr {
  background-color: #d5001f;
}

.hearst {
  background-color: #b4d0e7;
}

.lonely-planet {
  background-color: #0d2481;
}

.clear-channel {
  background-color: #ffd830;
}

.sponsor-main {
  padding: 40px;
  background-color: #f5f5f5;
  overflow-y: auto;
}

.trademark {
  font-size: 1.2rem;
  vertical-align: text-top;
}

.sponsor-main h2 {
  font-size: 3.5rem;
}

.sponsor-main p:first-of-type {
  margin-bottom: 20px;
}

.sponsor-main p:nth-of-type(2) {
  margin-bottom: 50px;
}

.current {
  border: 15px solid rgba(255, 255, 255, 0.45);
}

/* CTA lunga */

.cta-long {
  background-color: #b4d0e7;
  padding: 120px 0;
}

.cta-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cta-flex-container h3 {
  font-size: 2.8rem;
  flex-basis: 60%;
}

.cta-flex-container .btn-lighter {
  border: none;
}

/* FAQ */

.faq {
  padding: 100px 0;
}

.faq h2 {
  border-bottom: 1px solid black;
  padding-bottom: 50px;
  font-size: 2.5rem;
}

.domanda-container {
  /* display: flex;
  justify-content: space-between; */
  border-bottom: 1px solid black;
  padding: 50px 0;
  padding-right: 40px;
}

.domanda-container:hover .risposta {
  display: block;
}

.domanda-container:hover .line-container i {
  transform: rotate(180deg);
}


.line-container {
  display: flex;
  justify-content: space-between;
}


.domanda-container h4 {
  display: inline-block;
}

.chevron {
  float: right;
  margin: 0;
  text-align: center;
}


.risposta {
  display: none;
  text-align: left;
  margin-top: 30px;
}


/* FOOTER */

footer {
  height: 600px;
  background: black;
}

footer .container {
  max-width: 70%;
  padding-top: 100px;
}

.footer-column-container {
  display: flex;
}

footer p:last-child {
  color: white;
}

.footer-column {
  width: calc(100% / 5);
}

.footer-column ul {
  flex-direction: column;
}

.footer-column ul li a {
  color: white;
}

.footer-column ul li {
  margin-bottom: 15px;
}
.footer-column ul li:first-child {
  margin-bottom: 35px;
  font-size: 1.3rem;
}

footer .container hr {
  margin-top: 100px;
  width: 10%;
}