/* Reset and general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
}

.debug {
  background-color: rgba(255, 0, 0, 0.25);
  border: 1px solid black;
}

ul{
  display: flex;
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

p {
  line-height: 22px;
}

/* Header */

header {
  height: 80px;
  color: black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  background-color: white;
}

.header-navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.header-navabar .navbar-left ul li:hover{
  border-bottom: 2px solid black;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.btn {
  color: white;
  background-color: #0361ff;
  padding: 5px 12px;
}

.navbar-left ul li, .navbar-left .logo {
  padding-right: 20px;
}

.navbar-right ul li {
  padding-left: 20px;
}





/* Jumbo */

.jumbo {
  height: 600px;
  background-color: #b4d0e7;
  margin-top: 80px;
}

.jumbo .container {
  padding: 70px 0;
}

.jumbo .container h2 {
  font-size: 4.5rem;
  margin-bottom: 20px;
}

.container-jumbo {
  display: flex;
}

.jumbo-info {
  flex-basis: 30%;
}

.jumbo-info p:first-child {
  margin-bottom: 30px;
}

.jumbo-info p:nth-child(3) {
  margin-top: 30px;
}

.fa-solid.fa-arrow-down {
  font-size: 3rem;
  margin-top: 40px;
}


.jumbo-img {
  flex-basis: 70%;
}